<!--Create an AngularJS application that displays a list of employees and their salaries. Allow users to search 
for employees by name and salary. Note: Employee details may be included in the program.-->

<!DOCTYPE html>
<html>
<title>angular js filter employee search application</title>

<head>
    <script type="text/javascript" src="https:ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
    </script>
    <script>
        app = angular.module("empSearchApp", []);
        app.controller("empSearchAppCntrl", function ($scope) {
            $scope.empList = [
                { 'name': 'Harish Kumar B T', 'salary': 500000 },
                { 'name': 'Chethan', 'salary': 400000 },
                { 'name': 'Manju', 'salary': 300000 },
                { 'name': 'Prashanth', 'salary': 400000 },
                { 'name': 'Thanuja', 'salary': 500000 },
                { 'name': 'Manasa', 'salary': 600000 },
            ]
            $scope.clearFilters = function () {
                $scope.searchName = ' '
                $scope.searchSalary = ' '
            }
        });
    </script>
</head>

<body ng-app="empSearchApp">
    <h1>employee search application</h1>
    <div ng-controller="empSearchAppCntrl">
        search by employee name:<input type="text" ng-model="searchName">
        Search by employee salary:<input type="number" ng-model="searchSalary">
        <button ng-click="clearFilters()">clear Filters</button>
        <br />
        <h3>list of employees</h3>
        <table border="1">
            <tr>
                <th>SLNO</th>
                <th>EMP NAME</th>
                <th>SALARY</th>
            </tr>
            <tr ng-repeat="emp in empList | filter:{name:searchName,salary:searchSalary}">
                <td>{{$index+1}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.salary}}</td>
            </tr>
        </table>
    </div>
</body>

</html>